h1{
    color: whitesmoke;
}
body{
    background-color: rgb(240, 167, 83);
    margin-left: 130px;
}
.navigation-title{
    text-align: center;
    margin: 5px;
    padding-bottom: 5px;
    border-bottom: dotted;
    border-color: whitesmoke;
}
/* CSS */
.login-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.login-button:hover {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  transform: translateY(-1px);
}

.login-button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.signup-button {
    align-items: center;
    background-clip: padding-box;
    background-color: #523c2d;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.signup-button:hover {
    transform: translateY(-1px);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-1px);
}

.signup-button:active {
    background-color: #59483d;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}
.container{
  display: flex;
  justify-content:center;
  margin:10 auto;
  width:97%;
  height:100%;
  border:dashed;
  border-color: whitesmoke;
  border-radius: 10px;
  padding-bottom: 10px;
}
.game-navigation{
  height:100%;
  width:120px;
  background-color: rgb(233, 181, 123);
  position: fixed;
  display: flex;
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden;
  flex-direction:column;
  justify-content: flex-start;
  border-right: dashed;
  border-color: whitesmoke;

}
.nav-item{
  padding-top:10px;
  padding-bottom:10px;
  text-align: center;
  align-items: center;
  font-size: 20px;
  color:black;
  text-decoration: none;
  /*background-color: rgb(240, 167, 83);*/
}
.nav-item:hover{
    color: azure;
    background-color: rgb(240, 167, 83);
}
.flex-item{
  padding:15px;
   background-color: rgb(233, 181, 123);
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 10px;
    border-color: whitesmoke;
    border-style: dashed;
}
.comment-section{
    border-radius: 10px;
    border-color: black;
    margin: 15px;
    padding: 10px;
    border-style: dashed;
    background-color: rgb(233, 181, 123);

}
.comment-section-title{
    border-bottom:dashed;
    padding-bottom: 10px;
}
.comment-entry{
    border-bottom: dotted;
    border-color:black;
    padding-bottom: 10px;
}
.comment-title{
    color:whitesmoke;
}
.comment-content{
    font-style:italic;
}
.title{
    text-align: center;
    background-color: rgb(233, 181, 123);
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 10px;
    border-color: whitesmoke;
    border-style: dashed;
}
.game-title{
    padding-top: 0%;
    border-bottom: dotted;
    border-color: whitesmoke;
    padding-bottom: 5px;
}
.game-area{
  min-width: 80%;
  min-height: 500px;
  width:100%;
  height:100%;
  text-align: center;
}
.game-info{
    padding-left: 10px;
    margin-top: 10px;
    min-width: 175px;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    border-left: dotted;
    border-color: whitesmoke;
    
}
.game-data-entry{
    font-style:oblique;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
}
* {
    font-family: 'Roboto Condensed', sans-serif;
}